<div class="mainDiv">
    <app-drag-and-drop (textRead)="setText($event)" (imageRead)="setImage($event)"></app-drag-and-drop>
    <textarea [(ngModel)]="text"></textarea>
    <img *ngIf="mask" [src]=mask [attr.width]="'450'" [attr.height]="'300'">
    <div>
        <button mat-raised-button color="primary" (click)="createCloud()">Create cloud</button>
        <button mat-raised-button color="accent" (click)="createMask()">Create mask</button>
    </div>
    <img *ngIf="cloudImage" [src]=cloudImage [attr.width]="width" [attr.height]="height">
</div>